[submodule "ClimaCore.jl"]
	path = ClimaCore.jl
	url = https://github.com/CliMA/ClimaCore.jl
[submodule "ClimaAtmos.jl"]
	path = ClimaAtmos.jl
	url = https://github.com/CliMA/ClimaAtmos.jl
[submodule "GPUCompiler.jl"]
	path = GPUCompiler.jl
	url = https://github.com/daverumph/GPUCompiler.jl
	branch = dr/gpu_performance
