[submodule "ClimaCoupler.jl"]
	path = ClimaCoupler.jl
	url = https://github.com/CliMA/ClimaCoupler.jl
	branch = pb/prof-base
[submodule "ClimaCoupler.jl-mod"]
	path = ClimaCoupler.jl-mod
	url = https://github.com/CliMA/ClimaCoupler.jl
	branch = pb/prof-mod
[submodule "ClimaCore.jl"]
	path = ClimaCore.jl
	url = https://github.com/CliMA/ClimaCore.jl.git
	branch = pb/prof-base
[submodule "ClimaCore.jl-mod"]
	path = ClimaCore.jl-mod
	url = https://github.com/CliMA/ClimaCore.jl.git
	branch = pb/fieldname-set
[submodule "ClimaAtmos.jl-mod"]
	path = ClimaAtmos.jl-mod
	url = https://github.com/CliMA/ClimaAtmos.jl
	branch = main
[submodule "ClimaAtmos.jl"]
	path = ClimaAtmos.jl
	url = https://github.com/CliMA/ClimaAtmos.jl.git
	branch = main
